
h1 {

color:white;
font-size: 30px;
font-family: font-family: 'Raleway', sans-serif;
font-weight: 100;

}

h2 {
  font-size: 20px;
  color: white;
  font-family: font-family: 'Raleway', sans-serif;
font-weight: 100;
}



.hero-home-gradient {

    background: #670FA9;
    background-size: 1024px;
    height: 700px;
    background: linear-gradient(to right, #670FA9, #0F3BA9, #0E60A4, #0FA998, #15A974, #28A90F);
    background-size: 1000% 1000%;
    -webkit-animation: hero-bg-gradient 25s ease 15;
    animation: hero-bg-gradient 25s ease 15
}
@-webkit-keyframes hero-bg-gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}
@keyframes hero-bg-gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}
#customModal {
    background-color: transparent;
    font-size: 15px;
}



 

