 h1 {

	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	color:#FF6B6D;
	text-align: center;
	position: relative;
	font-size: 40px;

}
#container .image-container {
        text-align: center;
        vertical-align: middle;
        display: table-cell;
    }

